body{
    background-color: cyan;
}
img{
    width: 200px;
}
h1{
    color: rgb(253, 0, 0);
    font-size: 50px;
}
h2{
    color: rgb(179, 3, 38);
}
p{
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}